.project-details {
  position: fixed;
  right: 4%;
  width: 65%;
  margin-bottom: 5%;
  text-align: center; 
}

.select-project {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 4% 0 0 3%;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;

  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% { 
      opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}

h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  color: grey;
  margin: 6% 0 1% 0;
  text-align: left;
}

.description {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.project-image {
  margin: 5% 0 2% 0;
  width: 90%;
  height: 90%;
  max-height: 500px;
  max-width: 900px;
  border-radius: 5px;
}

.project-image:hover {
  box-shadow: 0 3px 40px #999, 0 3px 10px #999;
}
.tech-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.techName {
  width: 5%;
  height: 5%;
  margin: 0 1% 5% 0;
  padding: 2%;
  background: white;
  color: orangered;
  border-radius: 0.25em;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0 1px 20px #999, 0 1px 3px #999;
  text-align: center;
}