.project-details {
  /* display: flex;
  justify-content: center; */
  width: 50%;
  /* height: 100%; */
  margin: 0 auto;
  text-align: center; 
}

.select-project {
  text-align: center;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  color: grey;
}

hr {
  width: 50%;
}

.description {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.project-image {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 5%;  
  width: 100%;
  height: 100%;
}
.tech-list {
  padding: 0;
  margin-bottom: 5%;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.techName {
  width: 10%;
  margin: 1%;
  padding: 1%;
  background: white;
  border-radius: 0.25em;
  font-family: 'Ubuntu', sans-serif;
}