/* body {
  margin: auto;
} */

nav {
  background-color: white;
  height: 50px;
  color: gray;
  box-shadow: 10px 10px 20px 2px lightslategrey;
}

.social {
  position: absolute;
  left: 10px;
}

img {
  height: 40px;
  margin: 5px;
  background: transparent;
}

img:hover {
  cursor: pointer;
  background: transparent;
  position: relative;
  transform: scale(1.10);
}


/* font-family: 'Comfortaa', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Baloo', cursive;
font-family: 'Modak', cursive; */