nav {
  z-index: 3;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 50px;
  color: gray;
  box-shadow: 10px 10px 20px 2px lightslategrey;
  margin-bottom: 5%;
}

.social {
  position: absolute;
  left: 10px;
}

#sosh {
  height: 40px;
  margin: 5px;
  background: transparent;
}

#sosh:hover {
  cursor: pointer;
  background: transparent;
  position: relative;
  transform: scale(1.1);
}

@media screen and (min-device-width: 375px) and (max-device-width: 812px) {
  nav {
    height: 100px;
    margin-bottom: 10%;
  }
  #sosh {
    height: 90px;
    margin: 10;
  }
}
